<div id="loader" *ngIf="showLoader"></div>
<div class="container"  *ngIf="!showLoader && authService.isloggedin">

    <h3>Create New Record</h3>
    <form (ngSubmit)="submitForm()" #f="ngForm">
        <div class="form-group" [ngClass]="{'has-danger': name.invalid && (name.dirty || name.touched),
        'has-success': name.valid && (name.dirty || name.touched) }">
            <label for="name">Job Title</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="data.name" ngModel #name="ngModel"
                placeholder="Enter Name" minlength="2" required>
        </div>
        <div class="alert alert-danger" *ngIf="name.errors && (name.dirty || name.touched)">
            <p *ngIf="name.errors?.required">Job title is required</p>
          <p *ngIf="name.errors?.minlength">Job title must contain at least 2 characters</p>
        </div>

        <div class="form-group" [ngClass]="{'has-danger': dob.invalid && (dob.dirty || dob.touched),
    'has-success': dob.valid && (dob.dirty || dob.touched) }">
            <label for="dob">Date Of Application</label>
            <input type="text" class="form-control" id="dob" name="dob" [(ngModel)]="data.dateOfApplication" ngModel #dob="ngModel"
                placeholder="Enter Date Of Birth in DD/MM/YYYY format" pattern="^(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)\d\d$" required>
        </div>
        <div class="alert alert-danger" *ngIf="dob.errors && (dob.dirty || dob.touched)">
            <p *ngIf="dob.errors?.required">Date Of Application is required</p>
            <p *ngIf="dob.errors?.pattern">Date provided is invalid</p>
        </div>

        <div class="form-group">
            <label for="url">Job Url</label>
            <input type="text" class="form-control" id="url" name="url" [(ngModel)]="data.url"
            ngModel #url="ngModel" placeholder="Enter Url" >
        </div>
       

        <div class="form-group" [ngClass]="{'has-danger': std.invalid && (std.dirty || std.touched),
    'has-success': std.valid && (std.dirty || std.touched) }">
            <label for="std">Status</label>
            <input type="text" class="form-control" id="std" name="std" [(ngModel)]="data.status" ngModel #std="ngModel"
                placeholder="Enter Status" required>
        </div>
        <div class="alert alert-danger" *ngIf="std.errors && (std.dirty || std.touched)">
            <p *ngIf="std.errors?.required">Status is required </p> 
        </div>
        <div class="form-group" [ngClass]="{'has-danger': companyName.invalid && (companyName.dirty || companyName.touched),
        'has-success': companyName.valid && (companyName.dirty || companyName.touched) }">
              <label for="companyName">At</label>
              <input type="text" class="form-control" id="orgName" name="orgName" [(ngModel)]="data.companyName" ngModel
                #companyName="ngModel" placeholder="Enter Organization's Name" required>
            </div>
            <div class="alert alert-danger" *ngIf="companyName.errors && (companyName.dirty || companyName.touched)">
              <p *ngIf="companyName.errors?.required">Organization's Name is required</p>
            </div>

            
    <div class="form-group" [ngClass]="{'has-danger': country.invalid && (country.dirty || country.touched),
    'has-success': country.valid && (country.dirty || country.touched) }">
          <label for="country">Country</label>
          <input type="text" class="form-control" id="country" name="country" [(ngModel)]="data.country" ngModel
            #country="ngModel" placeholder="Enter Country" required>
        </div>
        <div class="alert alert-danger" *ngIf="country.errors && (country.dirty || country.touched)">
          <p *ngIf="country.errors?.required">Country is required</p>
        </div>
    

        <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Add New Record</button>
    </form>
</div>