.icon{
    cursor: pointer;
  }
  .btn-edit{
    background-color: lightblue;
    color: black;
    margin: 10px;
    font-size: 15px;
  }
  .btn-delete{
    color: black;
    margin: 10px;
    font-size: 15px;
    
  }
  .btn-warning{
    color: black;
    margin: 10px;
    font-size: 15px;
  }

  td{
    vertical-align: middle !important;
  }